body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    background-color:rgb(26, 119, 242);
    height: 5rem;
}


.bar{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar > img{
    
}

.bar > nav{
    
}

.bar a{
    text-decoration: none;
    color:white;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.bar button{
    height: 2rem;
    border: none;
    border-radius: 20px;
}

.bar button > a{
    color: black;
}

.planning{
    width: 1100px;
    height: 700px;
    display: flex;
    margin: auto;
    margin-top: 58px;
    margin-bottom: 100px;
    gap: 20px 20px;
    flex-wrap: wrap;
}

.planning .item1{
    flex-basis: 65.9%;
    background-color:rgb(168, 204, 242);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    height: 50%;
}

.planning .box-piccolo{
    flex-basis: 32%;
    background-color:rgb(168, 204, 242);
    border-radius: 25px;
    height: 50%;
}

.planning h3{
    color:rgb(26, 119, 242);
}

.planning .item1 h3{
    flex-basis: 10%;
    margin-bottom: 0px;
}

.planning .item1 p{
    flex-basis: 40%;
    width: 40%;
    letter-spacing: 0.08rem;
    line-height: 1.5rem;
    width: 50%;
    color: rgb(87, 84, 84);
}

.planning .item1 button{
    flex-basis: 10%;
    width: 30%;
    height: 2rem;
    border: none;
    border-radius: 60px;
    background-color:rgb(26, 119, 242);
    letter-spacing: 0.08rem;
    color: white;
    font-size: 18px;
    margin-top: 15px;
}

.planning .item1 img{
    width: 37%;
    margin-top: auto;
}

.box-piccolo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

.box-piccolo i{
    margin: auto;
    flex-basis: 15%;
    font-size: 74px;
    color:rgb(26, 119, 242);
}

.box-piccolo p{
    letter-spacing: 0.08rem;
    line-height: 1.5rem;
    text-align: center;
    color:rgb(87, 84, 84);
}

/* flexbox 2 */

.planning2{
    background-color: rgba(149,147,230,255);
    height: 800px;
    display: flex;
    padding: 50px 400px 50px 400px;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

.planning2 > .immagine{
    flex-basis: 50%;
    background-image: url(img/planning1.png);
    height: 50%;
    width: 50%;
    min-width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.planning2 > h1{
    flex-basis: 5%;
    margin-left: 70px;
    margin-bottom: 30px;
}

.planning2 > p{
    flex-basis: 15%;
    width: 45%;
    margin-left: 70px;
    letter-spacing: 0.06rem;
    line-height: 1.5rem;
}

.planning2 .immagine2{
    background-color: white;
    color: black;
    width: 35%;
    height: 500px;
    border-radius: 10%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.immagine2 img{
    width: 60%;
    display: block;
    margin: auto;
}

.immagine2 p{
    text-align: center;
    letter-spacing: 0.04rem;
    line-height: 1.5rem;
    font-style: italic;
}

.fa-arrow-down-long{
    background-color: rgba(149,147,230,255);
    border-radius: 120%;
    padding: 11px 14px;
}

.test{
    margin-top: 50px;
    text-align: center;
    font-weight: 400;
}

.experts{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: rgba(149,147,230,255);
}

.relationships{
    margin: 50px auto;
    text-align: center;
    font-size: 18px;
    width: 1050px;
}

.testimonials{
    display: flex;
    flex-direction: column;
    width: 1050px;
    margin: auto;
    gap: 30px;
}

.expert{
    display: flex;
    flex-basis: 30%;
    background-color: rgba(149,147,230,255);
    color: white;
    border-radius: 30px;
}

.expert .immagine{
    flex-basis: 15%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0px solid;
    margin: 25px 45px 35px 15px;
}

.expert img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.expert div.testo{
    margin-top: 50px;
    width: 70%;
    height: 60%;
}

.expert p{
    margin-bottom: 25px;
}

.expert span{
    font-weight: bold;
}

.features{
    display: flex;
    width: 1920px;
    margin: 100px auto;
    padding: 0px 435px 60px 435px;
    flex-wrap: wrap;
    gap: 20px 20px;
    background-color: rgba(149,147,230,255);
    box-sizing: border-box;
}

.features h1{
    flex-basis: 100%;
    text-align: center;
    padding-right: 50px;
    color: white;
    margin-top: 60px;
    margin-bottom: 30px;
}

.features .item{
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-basis: 26%;
    border-radius: 15px;
    padding: 30px;
}

.item span, .item h3, .item p{
    color: rgba(149,147,230,255);
}

.item span{
    font-size: 52px;
    font-weight: bold;
}

.item p{
    color: grey;
    letter-spacing: 0.06rem;
    line-height: 1.5rem;
}

.item button{
    width: 50%;
    height: 2.5rem;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgba(149,147,230,255);
    letter-spacing: 0.08rem;
    font-weight: bold;
}
